
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-didian:before { content: "\e60b"; }

.icon-bbgfenxiang:before { content: "\e602"; }

.icon-chanpinzhanshi:before { content: "\e60c"; }

.icon-lianxiren:before { content: "\e60d"; }

.icon-mulu:before { content: "\e603"; }

.icon-guanbi:before { content: "\e606"; }

.icon-sousuo:before { content: "\e609"; }

.icon-qunzu:before { content: "\e600"; }

.icon-weijiaoyu:before { content: "\e60e"; }

.icon-pinglun:before { content: "\e601"; }

.icon-jiaoxuelou:before { content: "\e60f"; }

.icon-biaoqian:before { content: "\e610"; }

.icon-ordinaryset:before { content: "\e604"; }

.icon-gantan:before { content: "\e605"; }

.icon-later:before { content: "\e607"; }

.icon-before:before { content: "\e608"; }

.icon-diqiu:before { content: "\e611"; }

.icon-tuichu:before { content: "\e60a"; }

.icon-meitibaodao:before { content: "\e612"; }

.icon-jingdianmenpiao:before { content: "\e613"; }

